*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
.menu{
    margin-bottom: 60px;
}
ul{
    text-align: right;
    margin-top: 30px;
}
ul li{
    list-style: none;
    display: inline;
    margin-left: 20px;
    padding: 10px;
}
ul li a{
    text-decoration: none;
    color: rgb(49, 49, 49);
    font-size: 16px;
    font-weight: 400;
}
h1{
    font-size: 60px;
    text-transform: uppercase;
    color: #363958;
}
h2{
    font-size: 48px;
    text-transform: uppercase;
    color: #363958;
    text-align: center;
    margin-bottom: 50px;
    background-color: #F8F9FC;
}
h4{
    font-size: 30px;
    text-transform: uppercase;
    color: #363958;
}
h5{
    font-size: 24px;
    color: #363958;
    font-weight: 700;
    margin-top: 15px;
}
h6{
    color: #696871;
    font-size: 23px;
}
.head{
    margin-top: 70px;
}
p{
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 60px;
    color: rgb(73, 73, 73);
    width: 90%;
}
img{
    width: 100%;
}
.highlight-text{
    color: #fbd762;
}
#header-section, #about-section{
    margin: 25px 80px;
}
.btn{
    text-decoration: none;
    background-color: #4f46cf;
    background-image: linear-gradient(180deg , #464192,#4f46cf);
    color: whitesmoke;
    padding: 17px 40px;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.row{
    display: grid;
    grid-template-columns: 50% 50%;
}
.about-header{
    margin-top: 70px;
    margin-left: 160px;
}
h4 span{
    background-color: #F8F9FC;
}
#work-section{
    background-color: #F8F9FC;
    padding: 3em 0;
}
.work-row{
    display: grid;
    grid-template-columns: 31.5% 31.5% 31.5%;
    grid-gap: 38.5px;
    background-color: #F8F9FC;
    margin: 0 80px;
}
.card{
    padding: 2em;
    text-align: center;
    box-shadow: 1px 1px 10px black;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.card-img{
    padding: 1em;
}
.work-card-p{
    color: #6C6C6C;
    width: 100%;
    margin-bottom: 0;
}
.contact-row{
    margin: 0 80px;
}
#contact-section H2{
    background-color: white;
    margin-top: 20px;
}
.work-image{
    height: 13.3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/contact.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 5% 20%;
}
.work-image a , .work-image h3{
    background-color: transparent;
    color: white;
}
.work-image h3{
    font-size: 3em;
    margin: 0;
}
.work-image a{
    background-color: tomato;
    font-size: 1.5em;
    text-decoration: none;
    padding: 0.8em 1.5em;
    border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
}
.contact-row h5 , .contact-row h6{
    text-align: center;
}
.contact-row h5{
    font-size: 36px;
}
.icon-row{
    margin: 10px 0;
    text-align: center;
}
.icon-row{
    text-decoration: none;
}
.icon-row img{
    width: 40px;
    height: 40px;
    margin: 15px;
}
#feature-section{
    padding: 3em 0em;
}
.feature-header h2{
    background-color: white;
}
.feature-row{
    margin: 50px 80px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.feature-row .feature-col{
    background-image: url("../img/feature1.jpg");
}
.feature-row .feature-col1{
    background-image: url("../img/feature2.jpg");
}
.feature-row .feature-col2{
    background-image: url("../img/feature3.jpg");
}
.feature-row .feature-col1 , .feature-row .feature-col , .feature-row .feature-col2{
    border-radius: 1em;
    margin: 1em 1em;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(29, 29, 29, 0.541);
    background-color: rgba(0, 0, 0, 0.616);
    background-blend-mode: color;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.feature-col1 h5 , .feature-col h5 , .feature-col2 h5{
    padding:4em 0;
    color: white;
    background-color: transparent;
    font-size: 30px;
    text-align: center;
}
/*Final Edit*/